body {
background-color:darkslateblue;
font-family: fantasy;
float: center;
border-style: hidden;
}

ul, ol {
    border: black;
    border-style: double;
    background-color: whitesmoke;
}

h1,p { 
    text-align: center;
}



